<template>
  <transition name="fade">
    <section class="modal-form-wrapper" v-if="showModal">
      <div class="modal-form container">
        <header class="row modal-form__header valign-wrapper">
          <div class="col s10"><h3 class="flow-text modal-form__header__title">Add Customer</h3></div>
          <div class="col s2">
            <button @click="toggleModal('add')" class="modal-form__header__close right btn btn-small btn-floating "><i class="material-icons">close</i></button>
          </div>
        </header>
        <main class="row modal-form__content">
          <div class="row">
            <form id="formData" @submit.prevent="sendData" class="col s12">
              <div class="row">
                <div class="input-field col s12">
                  <i class="material-icons prefix">account_circle</i>
                  <input id="icon_prefix" type="text" class="validate" v-model="customer.firstname">
                  <label for="icon_prefix">First Name</label>
                </div>
                <div class="input-field col s12">
                  <i class="material-icons prefix">person</i>
                  <input id="icon_lastname" type="text" class="validate" v-model="customer.lastname">
                  <label for="icon_lastname">Last Name</label>
                </div>
                <div class="input-field col s12">
                  <i class="material-icons prefix">email</i>
                  <input id="icon_email" type="email" class="validate" v-model="customer.email">
                  <label for="icon_email">Email</label>
                </div>
              </div>
              <div class="row">
                <div class="input-field col s12">
                  <button class="btn-large btn-floating right" type="submit">
                    <i class="material-icons">save</i>
                  </button>
                </div>
              </div>
            </form>
          </div>
        </main>
      </div>
    </section>
  </transition>
</template>
<script>
import axios from 'axios'
import { mapState, mapMutations } from 'vuex'
export default {
  data () {
    return {
      // Datos a insertar del nuevo cliente (asociados a la directiva v-model)
      customer: {
        firstname: null,
        lastname: null,
        email: null
      }
    }
  },
  computed: {
    ...mapState({
      customers: state => state.customers,
      showModal: state => state.showModal.add,
    })
  },
  methods: {
    ...mapMutations(['TOGGLE_MODAL', 'TOGGLE_MESSAGE']),
    sendData () {
      let data = {
        firstName: this.customer.firstname,
        lastName: this.customer.lastname,
        email: this.customer.email,
        companyId: `${Math.round(Math.random()*(3-1)+parseInt(1))}`
      },
      url = 'http://localhost:3000/users'

      //Comprobamos que el email introducido no está duplicado

      let filterEmail = this.customers.find(customer => customer.email === data.email)

      if (!filterEmail) {
        axios.post(url, data)
          .then(response => {
            // Reseteamos los campos del formulario
            for (const key in this.customer) {
              if (this.customer.hasOwnProperty(key)) {
                this.customer[key] = ''
              }
            }
            // Una vez que agregamos un nuevo cliente, mostramos la nueva lista de clientes
            this.getCustomers()
            // Automáticamente cerramos el modal
            this.toggleModal('add')
            // Mostramos mensaje de éxito en el envío de datos
            this.TOGGLE_MESSAGE('success')
            // Pasados 2.5 seg, ocultamos el mensaje
            setTimeout(() => {
              this.TOGGLE_MESSAGE('success')
            }, 2500)
          })
          .catch(err => {
            console.log(err)
            // Mostramos mensaje de error en el envío de datos
            this.TOGGLE_MESSAGE('failed')

              // setTimeout(() => {
              //   this.TOGGLE_MESSAGE('failed')
              // }, 2500)
          })
      } else {
        alert('El email introducido ya existe en nuestra base de datos.')
      }

    },
    // Función para mostrar lista de clientes
    getCustomers () {
      axios.get('http://localhost:3000/users')
        .then(response => {
          if (response.status >= 200 && response.status < 400) {
            this.$store.commit('SHOW_CUSTOMERS', response.data)
          }
        })
        .catch(err => console.log(err))
    },
    // Función para mostrar u ocultar los 3 modales (se le pasa el valor correspondiente al modal que estemos manejando: add, edit, delete)
    toggleModal (action) {
      this.$store.commit('TOGGLE_MODAL', action)
      // Reseteamos los campos del formulario
      for (const key in this.customer) {
        if (this.customer.hasOwnProperty(key)) {
          this.customer[key] = ''
        }
      }
    }
  }
}
</script>

<style lang="scss">

  .fade-enter-active, .fade-leave-active {
    transition: opacity .5s;
  }
  .fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
    opacity: 0;
  }

  .modal-form {
    background-color: #fff;
    @media screen and (min-width: 768px) {
      width: 60%;
    }
    &-wrapper {
      position: fixed;
      z-index: 999;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: rgba(0, 0, 0, .25);
      display: flex;
      justify-content: center;
      align-items: center;
    }
    &__header {
      background-color: #666;
      color: #fff;
      padding: 1rem 0;
      margin-bottom: 20px !important;
      &__title {
        margin: 0 1rem;
        //  text-transform: uppercase;
        font-weight: 100;
      }
      &__close {
        margin-right: 1rem;
        border: 0;
      }
    }
    .row {
      margin-bottom: 0;
    }
  }
</style>

